<%- include("./partials/header")%>

<div class="container">
    <form method="post" action="/">
        <input name="city" placeholder="City Name" maxlength="30"/>
        <input name="country" placeholder="Country Name" maxlength="2"/>
        <button type="submit">Submit</button>
    </form>
</div>

<%- include("./partials/footer")%>