<%- include("./partials/header") %>

    <div class="container">
        <p>
                <%= main %>
                    <%= temp %>
        </p>
    </div>


    <%- include("./partials/footer") %>